<%- include("header") -%>

<h1 class="box" id="heading">This is the about page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio rerum ipsa, ab, doloremque tempore cumque nostrum impedit officiis alias provident corrupti. Aspernatur minima nulla rem sed? Iusto harum fuga ab!</p>

<%- include("footer") -%>